* {
    margin: 0;
    padding: 0;
}
:root{
    --window_bg_color--: black;
    --sidebars_bg_color--: #1E1E1E;
    --stepha_font_color--: white;
    --primary_text_color--: white;
    --title_text_color--: white;
    --block_bg_color--:#1E1E1E;
}
html, body {
    background-color: var(--window_bg_color--);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#navbar {
    width: 100%;
    padding: 5px 20px;
    font-size: 20px;
    font-family:  'Segoe UI', Tahoma, Verdana, Arial;
    background-color: var(--sidebars_bg_color--);
    color: var(--title_text_color--);
}
#sidebar{
    width: 140px; /* 13% */
    height: 100%;
    line-height: 100%;
    border-radius: 0 0 80px 0;
    font-family:  'Segoe UI', Tahoma, Verdana, Arial;
    background-color: var(--sidebars_bg_color--);
    color: #7191BF;
    
}
#menu_button{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.main_buttons{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 134px;
    height: 114px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.main_buttons_icons{
    height: 70px;
    width: 70px;
}
#things_to_do_button{
    border-radius: 10px 10px 0 0;
    border: 3px solid #7E2689;
    background-color: #30034B;
    color: #BC1AE6;
}
#daily_reminders_button{
    top: 200px;
    border: 3px solid #FC9404;
    background-color: #8D5C3E;
    color: #FC9404;
}
#tools_button{
    top: 340px;

    border-radius: 0 0 10px 10px;
    border: 3px solid #07B1A3;
    background-color: #07b1a38c;
    color: #07B1A3;
}